<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="theme-color" content="#33474d">
	<title><% if(page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
	<link rel="stylesheet" href="/css/style.css" />
	<% if (theme.rss){ %>
		<link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
	<% } %>
	<% if (page.mathjax) { %>
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
				tex2jax: {inlineMath: [ ["$", "$"], ["\\(","\\)"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno",skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']},
				TeX: {noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%"} }, Macros: { href: "{}" } },
				messageStyle: "none"
			});
			</script>
			<script type="text/x-mathjax-config">
				MathJax.Hub.Queue(function() {
					var all = MathJax.Hub.getAllJax(), i;
					for(i=0; i < all.length; i += 1) {
						all[i].SourceElement().parentNode.className += 'has-jax';
					}
				});
			</script>
			<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
			</script>
	<% } %>	
</head>

<body>

	<header class="header">
		<nav class="header__nav">
			<% for(let key in theme.menu) { %>
				<a href="<%= theme.menu[key] %>" class="header__link"><%= key %></a>
			<% } %>
		</nav>
		<h1 class="header__title"><a href="<%- url_for() %>"><%= config.title %></a></h1>
		<h2 class="header__subtitle"><%- config.subtitle %></h2>
	</header>

	<main>
		<%- body %>
	</main>

	<%- partial('footer') %>


</body>

</html>
